{% extends "user/base.html" %}
{% load static %}

    {% block content %}
    <header class="header clearfix">
        <button type="button" id="toggleMenu" class="toggle_menu">
        <i class='uil uil-bars'></i>
        </button>
        <button id="collapse_menu" class="collapse_menu">
        <i class="uil uil-bars collapse_menu--icon "></i>
        <span class="collapse_menu--label"></span>
        </button>
        <div class="main_logo" id="logo">
        <a href=""><img src="{% static 'user/images/logo.svg' %}" alt=""></a>
        <a href=""><img class="logo-inverse" src="{% static 'user/images/ct_logo.svg' %}" alt=""></a>
        </div>
        <div class="top-category">
        <div class="ui compact menu cate-dpdwn">
        <div class="ui simple dropdown item">
        <a href="#" class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
        <div class="menu dropdown_category5">
        {% for i in categories %}    
        <a href="{% url 'categorycourse' i.id %}" class="item channel_item">{{i.category_name}}</a>
        {% endfor %}
        </div>
        </div>
        </div>
        </div>
        <form action="{% url 'search' %}" method="GET">
        <div class="search120">
        <div class="ui search">
        <div class="ui left icon input swdh10">
        <input class="prompt srch10" type="text"  name="keyword" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
        <i class='uil uil-search-alt icon icon1'></i>
        </div>
        </div>
        </div>
      </form>
         
        
        <div class="header_right">
        <ul>
        <li>
       
        </li>
        <li>
          {% if user.is_authenticated %}
        <a href="{% url 'cart'  %}"class="option_links" title="cart"><i class='uil uil-shopping-cart-alt'></i><span class=""></span></a>
        {% else %}
        <a href="{% url 'signin'  %}"class="option_links" title="cart"><i class='uil uil-shopping-cart-alt'></i><span class=""></span></a>
          {% endif %}
        </li>
        <!-- <li class="ui dropdown">
        <a href="#" class="option_links" title="Messages"><i class='uil uil-envelope-alt'></i><span class="noti_count">3</span></a>
        <div class="menu dropdown_ms">
        <a href="#" class="channel_my item">
        <div class="profile_link">
        <img src="{% static 'user/images/left-imgs/img-6.jpg' %}" alt="">
        <div class="pd_content">
        <h6>Zoena Singh</h6>
        <p>Hi! Sir, How are you. I ask you one thing please explain it this video price.</p>
        <span class="nm_time">2 min ago</span>
        </div>
        </div>
        </a>
        <a href="#" class="channel_my item">
        <div class="profile_link">
        <img src="{% static 'user/images/left-imgs/img-5.jpg' %}" alt="">
        <div class="pd_content">
        <h6>Joy Dua</h6>
        <p>Hello, I paid you video tutorial but did not play error 404.</p>
        <span class="nm_time">10 min ago</span>
        </div>
        </div>
        </a>
        <a href="#" class="channel_my item">
        <div class="profile_link">
        <img src="{% static 'user/images/left-imgs/img-8.jpg' %}" alt="">
        <div class="pd_content">
        <h6>Jass</h6>
        <p>Thanks Sir, Such a nice video.</p>
        <span class="nm_time">25 min ago</span>
        </div>
        </div>
        </a>
        <a class="vbm_btn" href="instructor_messages.html">View All <i class='uil uil-arrow-right'></i></a>
        </div>
        </li> -->
        <!-- <li class="ui dropdown">
        <a href="#" class="option_links" title="Notifications"><i class='uil uil-bell'></i><span class="noti_count">3</span></a>
        <div class="menu dropdown_mn">
        <a href="#" class="channel_my item">
        <div class="profile_link">
        <img src="{% static 'user/images/left-imgs/img-1.jpg' %}" alt="">
        <div class="pd_content">
        <h6>Rock William</h6>
        <p>Like Your Comment On Video <strong>How to create sidebar menu</strong>.</p>
        <span class="nm_time">2 min ago</span>
        </div>
        </div>
        </a>
        <a href="#" class="channel_my item">
        <div class="profile_link">
        <img src="{% static 'user/images/left-imgs/img-2.jpg' %}" alt="">
        <div class="pd_content">
        <h6>Jassica Smith</h6>
        <p>Added New Review In Video <strong>Full Stack PHP Developer</strong>.</p>
        <span class="nm_time">12 min ago</span>
        </div>
        </div>
        </a>
        <a href="#" class="channel_my item">
        <div class="profile_link">
        <img src="{% static 'user/images/left-imgs/img-9.jpg' %}" alt="">
        <div class="pd_content">
        <p> Your Membership Approved <strong>Upload Video</strong>.</p>
        <span class="nm_time">20 min ago</span>
        </div>
        </div>
        </a>
        <a class="vbm_btn" href="instructor_notifications.html">View All <i class='uil uil-arrow-right'></i></a>
        </div>
        </li> -->
        <li class="ui dropdown">
        <a href="#" class="opts_account" title="Account">
        <img src="{% static 'user/images/hd_dp.jpg' %}" alt="">
        </a>
        <div class="menu dropdown_account">
        <div class="channel_my">
        <div class="profile_link">
        {% if user.is_authenticated %}
        <img src="{% static 'user/images/hd_dp.jpg' %}" alt="">
        <div class="pd_content">
        <div class="rhte85">
        <h6>{{ user.first_name }}</h6>
        <div class="mef78" title="Verify">
        <i class='uil uil-check-circle'></i>
        </div>
        </div>
        <!-- <span><a href="https://gambolthemes.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="89eee8e4ebe6e5b0bdbac9eee4e8e0e5a7eae6e4">[email&#160;protected]</a></span> -->
        </div>
        </div>

        <a href="userprofile" class="dp_link_12">View User Profile</a>
        <a href="{% url 'logout' %}" class="item channel_item">Logout</a>
        
        </div>
        <div class="night_mode_switch__btn">
        <a href="#" id="night-mode" class="btn-night-mode">
        <i class="uil uil-moon"></i> Night mode
        <span class="btn-night-mode-switch">
        <span class="uk-switch-button"></span>
        </span>
        </a>
        </div>
        <!-- <a href="instructor_dashboard.html" class="item channel_item">Cursus dashboard</a>
        <a href="membership.html" class="item channel_item">Paid Memberships</a>
        <a href="setting.html" class="item channel_item">Setting</a>
        <a href="help.html" class="item channel_item">Help</a> -->
        {% else %}
        <a href="signup" class="item channel_item">Sign up</a>/
        <a href="signin" class="item channel_item">Sign in</a>
        {% endif %}
        </div>
        </li>
        </ul>
        </div>
        </header>



<div class="wrapper wrapper__minify">
<div class="sa4d25">
<div class="container-fluid">
<div class="row">
<div class="col-xl-9 col-lg-8">

<div class="section3125 mt-50">
<h4 class="item_title">Courses</h4>
<a href="allcourse" class="see150">See all</a>
<div class="la5lo1">
<div class="owl-carousel featured_courses owl-theme">
{% for i in courses %}    
<div class="item">
<div class="fcrse_1 mb-20">
<a href="{% url 'coursedetails' i.id %}" class="fcrse_img">
<img src="{{i.course_image.url}}" alt="">
<div class="course-overlay">
<!-- <div class="badge_seller">Bestseller</div> -->
<div class="crse_reviews">
<i class='uil uil-star'></i>4.5
</div>
<span class="play_btn1"><i class="uil uil-play"></i></span>
<!-- <div class="crse_timer">
25 hours
</div> -->
</div>
</a>
<div class="fcrse_content">

<!-- <div class="vdtodt">
<span class="vdt14">109k views</span>
<span class="vdt14">15 days ago</span>
</div> -->
<a href="" class="crse14s">{{i.short_des}}</a>
<a href="#" class="crse-cate">{{i.category}} | {{i.course_name}}</a>
<div class="auth1lnkprce">
<p class="cr1fot">By <a href="#">{{i.tutor_name}}</a></p>
<div class="prce142">RS.{{i.price}}</div>
{% if request.user.is_authenticated %}
<button value="{{i.id}}"   class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
{% else %}
<a href="{% url 'signin' %}"><button  class="add-button"  class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></a></button>
{% endif %}
</div>
</div>
</div>
</div>
{% endfor %}







</div>
</div>
</div>
<div class="section3125 mt-30">
<h4 class="item_title">Categories</h4>
<a href="#" class="see150">See all</a>
<div class="la5lo1">
<div class="owl-carousel featured_courses owl-theme">
{% for i in categories %}    
<div class="item">
<div class="fcrse_1 mb-20">
<a href="" class="fcrse_img">
<img src="{{i.cat_image.url}}" alt="">
<!-- <div class="course-overlay">
<span class="play_btn1"><i class="uil uil-play"></i></span>

</div> -->
</a>
<div class="fcrse_content">
<div class="eps_dots more_dropdown">
<a href="#"><i class='uil uil-ellipsis-v'></i></a>

</div>


<a href="{% url 'categorycourse' i.id %}" class="crse-cate">{{i.category_name}}</a>

</div>
</div>
</div>
{% endfor %}







</div>
</div>
</div>
<!-- <div class="section3126">
<div class="row"> -->
<!-- <div class="col-xl-6 col-lg-12 col-md-6">
<div class="value_props">
<div class="value_icon">
<i class='uil uil-history'></i>
</div>
<div class="value_content">
<h4>Go at your own pace</h4>
<p>Enjoy lifetime access to courses on Edututs+'s website</p>
</div>
</div>
</div> -->
<!-- <div class="col-xl-6 col-lg-12 col-md-6">
<div class="value_props">
<div class="value_icon">
<i class='uil uil-user-check'></i>
</div>
<div class="value_content">
<h4>Learn from industry experts</h4>
<p>Select from top instructors around the world</p>
</div>
</div>
</div> -->
<!-- <div class="col-xl-6 col-lg-12 col-md-6">
<div class="value_props">
<div class="value_icon">
<i class='uil uil-play-circle'></i>
</div>
<div class="value_content">
<h4>Find video courses on almost any topic</h4>
<p>Build your library for your career and personal growth</p>
</div>
</div>
</div> -->
<!-- <div class="col-xl-6 col-lg-12 col-md-6">
<div class="value_props">
<div class="value_icon">
<i class='uil uil-presentation-play'></i>
</div>
<div class="value_content">
<h4>100,000 online courses</h4>
<p>Explore a variety of fresh topics</p>
</div>
</div>
</div> -->
<!-- </div>
</div> -->
<div class="section3125 mt-50">
<h4 class="item_title">Popular Instructors</h4>
<a href="" class="see150">See all</a>
<div class="la5lo1">
<div class="owl-carousel top_instrutors owl-theme">
<div class="item">
<div class="fcrse_1 mb-20">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-1.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">John Doe</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<div class="tutor_cate">Wordpress &amp; Plugin Tutor</div>
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<div class="tut1250">
<span class="vdt15">100K Students</span>
<span class="vdt15">15 Courses</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_1 mb-20">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-2.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">Kerstin Cable</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<div class="tutor_cate">Language Learning Coach, Writer, Online Tutor</div>
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<div class="tut1250">
<span class="vdt15">14K Students</span>
<span class="vdt15">11 Courses</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_1 mb-20">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-3.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">Jose Portilla</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<div class="tutor_cate">Head of Data Science, Pierian Data Inc.</div>
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<div class="tut1250">
<span class="vdt15">1M Students</span>
<span class="vdt15">25 Courses</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_1 mb-20">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-4.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">Farhat Amin</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<div class="tutor_cate">Cookery Coach</div>
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<div class="tut1250">
<span class="vdt15">1.5K Students</span>
<span class="vdt15">9 Courses</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_1 mb-20">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-5.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">Kyle Pew</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<div class="tutor_cate">Microsoft Certified Trainer - 380,000+ Udemy Students</div>
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<div class="tut1250">
<span class="vdt15">300K Students</span>
<span class="vdt15">18 Courses</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_1 mb-20">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-7.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">Jaysen Batchelor</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<div class="tutor_cate">Illustrator &amp; Designer</div>
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<div class="tut1250">
<span class="vdt15">491K Students</span>
<span class="vdt15">13 Courses</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_1 mb-20">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-8.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">Quinton Batchelor</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<div class="tutor_cate">Photographer & Instructor</div>
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<div class="tut1250">
<span class="vdt15">364K Students</span>
<span class="vdt15">6 Courses</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_1 mb-20">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-6.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">Eli Natoli</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<div class="tutor_cate">Entrepreneur - Passionate Teacher</div>
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<!-- <div class="tut1250">
<span class="vdt15">615K Students</span>
<span class="vdt15">12 Courses</span>
</div> -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4">
<div class="right_side">
{% if request.user.is_authenticated %} 
<div class="fcrse_2 mb-30">
<div class="tutor_img">
<a href=""><img src="{% static 'user/images/left-imgs/img-10.jpg' %}" alt=""></a>
</div>
<div class="tutor_content_dt">
<div class="tutor150">
<a href="" class="tutor_name">{{user.username}}</a>
<div class="mef78" title="Verify">
<i class="uil uil-check-circle"></i>
</div>
</div>
<!-- <div class="tutor_cate">Web Developer, Designer, and Teacher</div> -->
<ul class="tutor_social_links">
<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
</ul>
<!-- <div class="tut1250">
<span class="vdt15">615K Students</span>
<span class="vdt15">12 Courses</span>
</div> -->

<a href="userprofile" class="prfle12link">Go To Profile</a>


{% endif %}
</div>
</div>
<!-- <div class="fcrse_3">
<div class="cater_ttle">
<h4>Live Streaming</h4>
</div>
<div class="live_text">
<div class="live_icon"><i class="uil uil-kayak"></i></div>
<div class="live-content">
<p>Set up your channel and stream live to your students</p>
<button class="live_link">Get Started</button>
<span class="livinfo">Info : This feature only for 'Instructors'.</span>
</div>
</div>
</div> -->
<div class="get1452">
<h4>Get personalized recommendations</h4>
<p>Answer a few questions for your top picks</p>
<button class="Get_btn" onclick="window.location.href = '#';">Get Started</button>
</div>
<div class="fcrse_3">
<div class="cater_ttle">
<h4>Top Categories</h4>
</div>
{% for i in categories %}
<ul class="allcate15">
<li><a href="{% url 'categorycourse' i.id %}" class="ct_item"><i class='uil uil-arrow'></i>{{i.category_name}}</a></li>
</ul>
{% endfor %}
</div>
<div class="strttech120">
<h4>Become an Instructor</h4>
<p>Top instructors from around the world teach millions of students on Cursus. We provide the tools and skills to teach what you love.</p>
<button class="Get_btn" onclick="window.location.href = '#';">Start Teaching</button>
</div>
</div>
</div>
<div class="col-xl-12 col-lg-12">
<div class="section3125 mt-30">
<h4 class="item_title">What Our Student Have Today</h4>
<div class="la5lo1">
<div class="owl-carousel Student_says owl-theme">
<div class="item">
<div class="fcrse_4 mb-20">
<div class="say_content">
<p>"Donec ac ex eu arcu euismod feugiat. In venenatis bibendum nisi, in placerat eros ultricies vitae. Praesent pellentesque blandit scelerisque. Suspendisse potenti."</p>
</div>
<div class="st_group">
<div class="stud_img">
<img src="{% static 'user/images/left-imgs/img-4.jpg' %}" alt="">
</div>
<h4>Jassica William</h4>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_4 mb-20">
<div class="say_content">
<p>"Cras id enim lectus. Fusce at arcu tincidunt, iaculis libero quis, vulputate mauris. Morbi facilisis vitae ligula id aliquam. Nunc consectetur malesuada bibendum."</p>
</div>
<div class="st_group">
<div class="stud_img">
<img src="{% static 'user/images/left-imgs/img-1.jpg' %}" alt="">
</div>
<h4>Rock Smith</h4>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_4 mb-20">
<div class="say_content">
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos eros ac, sagittis orci."</p>
</div>
<div class="st_group">
<div class="stud_img">
<img src="{% static 'user/images/left-imgs/img-7.jpg' %}" alt="">
</div>
<h4>Luoci Marchant</h4>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_4 mb-20">
<div class="say_content">
<p>"Nulla bibendum lectus pharetra, tempus eros ac, sagittis orci. Suspendisse posuere dolor neque, at finibus mauris lobortis in. Pellentesque vitae laoreet tortor."</p>
</div>
<div class="st_group">
<div class="stud_img">
<img src="{% static 'user/images/left-imgs/img-6.jpg' %}" alt="">
</div>
<h4>Poonam Sharma</h4>
</div>
</div>
</div>
<div class="item">
<div class="fcrse_4 mb-20">
<div class="say_content">
<p>"Curabitur placerat justo ac mauris condimentum ultricies. In magna tellus, eleifend et volutpat id, sagittis vitae est. Pellentesque vitae laoreet tortor."</p>
</div>
<div class="st_group">
<div class="stud_img">
<img src="{% static 'user/images/left-imgs/img-3.jpg' %}" alt="">
</div>
<h4>Davinder Singh</h4>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

<script>
    $(document).on("click",".shrt-cart-btn",function(){
      var id = $(this).val() 
      console.log(id) 
      console.log('hi')
      $.ajax({
        url:"{% url 'add_cart' %}",
        data:{
            id: id,
        },
        success:function(json){
            
            console.log('success')
        }
      })
    })
</script>
{% endblock content %}